body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(182, 157, 119);
}

.content{
    background: url("03.jpg");
    width: 1480px;
    padding: 18pt;
    position: absolute;
    top: 0%;
    left: 20%;
    background-repeat: no-repeat;

}

.message{
    background: url("02.jpg");
    width: 1300px;
    padding: 80pt;
    position: absolute;
    top: 30%;
    left: 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

.snow{
    position: fixed;
    top: -1vh;
    font-size: 2rem;
    color: white;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }

}

.marquee{
    position: absolute;
    top: 83%;
    left: 10%;
}


